<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="payex" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <group id="checkin" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkin Configuration</label>
                    <field id="active" translate="label" type="select"
                           sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <config_path>payex/checkin/active</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="payex/client/active">1</field>
                            <field id="payex/checkout/active">1</field>
                        </depends>
                    </field>
                    <field id="required" translate="label" type="select"
                           sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Required</label>
                        <config_path>payex/checkin/required</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Require login through checkin widget.]]></comment>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>